aiofiles
aiohappyeyeballs
aiohttp
aiolimiter
aiosignal
asttokens
attrs
beautifulsoup4
brotlicffi
certifi
cffi
charset-normalizer
comm
debugpy
decorator
exceptiongroup
executing
fake-useragent
frozenlist
google_search_results==2.4.2
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
lxml
matplotlib-inline
multidict
nest_asyncio
numpy==2.3.1
packaging
pandas==2.3.1
parso
pexpect
pickleshare
platformdirs
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycparser
Pygments
PySocks
python-dateutil
pytz==2025.2
pyzmq
requests
serpapi==0.1.5
setuptools==72.1.0
six
soupsieve
stack_data
tornado
traitlets
typing_extensions
tzdata==2025.2
urllib3
wcwidth
wheel==0.45.1
yarl
zipp

